h1{
  color:blue;
  font-size: 81pt;
  text-align: center;
}

p{
  font-size: 27pt;
}


img{
  display:block;
  margin-left:auto;
  margin-right:auto;

}

body{
  background-color: red;
}

a{
  text-align: center;
  font-size: 38pt;
}

